<div class="social">
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank"><span class="fa fa-fw fa-twitter"></span></a>
    <a href="https://www.instagram.com/{{ site.instagram }}" target="_blank"><span class="fa fa-fw fa-instagram"></span></a>
    <a href="https://www.youtube.com/channel/{{ site.youtube }}" target="_blank"><span class="fa fa-fw fa-youtube"></span></a>
    <a href="https://www.facebook.com/{{ site.facebook }}" target="_blank"><span class="fa fa-fw fa-facebook"></span></a>
</div>