---
layout: default
---

<section id="home" class="jumbotron-fluid" style="
    background-image: url(/assets/images/Background.svg); 
    background-repeat: no-repeat; 
    margin-top: -1px;
    background-size: cover;
    height: 600px; 
    width: 100%;">

    <div class="row">

        <div class="text-white container pt-5 col-md-8">

            <h1 style="color: #ccc;" class="pb-2 display-4">YOU HAVE TAXES</h1>

            <h1 style="color: #e5e5e5;" class="pb-2 display-4">WE HAVE <span class="font-weight-bold">SOLUTIONS</span></h1>

            <h1 class="text-white pb-2 display-4">WE ARE <span class="font-weight-bold">ZEE TAX PROS</span></h1>
            
        </div>

        <div class="col-md-4">

            <img src="/assets/images/undraw_file_searching_duff.png" class="img-fluid">

        </div>

    </div>

</section>

<section class="jumbotron-fluid"></section>