---
layout: default
---

<section id="home" class="jumbotron-fluid bg-primary">

    <div class="row py-4">

        <div class="text-white container py-5 col-md-7">

            <h3 style="color: #e5e5e5;" class="pb-2 pt-4">ZEE TAX PROFESSIONALS</h3>

            <h1 class="text-white pb-2 font-weight-bold">HELPING YOU COUNT WHAT TRULY COUNTS FOR YOU</h1>

            <a href="#quote-form" class="btn btn-outline-light rounded-pill shadow my-3 p-2 px-3">Claim Your Free Evaluation</a>
            
        </div>

        <div class="col-md-5">

            <img src="/assets/images/undraw_file_searching_duff.png" class="img-fluid pt-2 pb-5">

        </div>

    </div>

</section>

<section id="about" class="jumbotron-fluid text-center py-5">

    <h1 class="pb-5">We Check Everything!</h1>

    <div class="row">

        <div class="col-md-5">

            <img src="/assets/images/undraw_web_search_eetr.svg" class="img-fluid">

        </div>

        <div class="col-md-1"></div>

        <div class="col-md-5 pt-4">

            <p>With professional and quality services, you can have peace of mind knowing <span class="font-weight-bold">your taxes will be done quickly and accurately.</span></p>

            <p>We help you maximize your tax savings. Be prepared this tax season.</p>

            <a href="#quote-form" class="btn btn-outline-primary rounded-pill shadow mb-5">Let's Talk</a>

        </div>

    </div>

</section>

<section class="jumbotron-fluid text-center text-white bg-primary py-5">

    <h1 class="pb-3">Everyone is Different</h1>

    <div class="row">

        <div class="col-md-5 pt-4">
    
            <p>That's why we tailor our services to fit any tax situation so you can maximize your tax savings.</p>

            <p>Whether it's for you or your business, <span class="font-weight-bold">ZTP is there every step of the way.</span></p>

            <a href="#quote-form" class="nt-3 btn btn-outline-light rounded-pill shadow mb-5">Get Your Free Quote</a>

        </div>

        <div class="col-md-1"></div>

        <div class="col-md-5">

            <img src="/assets/images/undraw_wallet_aym5.svg" class="img-fluid">

        </div>

    </div>

</section>

<section id="what-we-do" class="jumbotron-fluid text-center py-5">

    <h1>Save Time &amp; Money on Your Taxes</h1>

    <div class="row row-cols-1 row-cols-md-5 mt-4 text-center justify-content-center">

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body my-auto">Business Valuation</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Strategic Business Planning</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Small Business Accounting</p>
            
        </div>
        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Payroll</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Part-Time CFO Services</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Cash Flow Financing</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">New Business Formation</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Internal Controls</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Services by a Certified CPA</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Tax Planning</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Tax Preparation</p>
            
        </div>
        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Tax Filing</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Free Tax Evaluation</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Year-Round Service</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Electronic Filing</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Bank Financing</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Business Startup Tax Prep</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Tax Audit Protection</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">No Money Upfront for Services</p>
            
        </div>

        <div class="card bg-primary text-white m-2 shadow">
            
            <p class="card-body">Tax Return Loans Available</p>
            
        </div>

    </div>

</section>

<section id="testimonials" class="jumbotron-fluid text-center bg-primary text-white py-5">

    <h1 class="pb-5">What People Have to Say</h1>

    <div class="row">

        <div class="col-md-4">

            <img src="/assets/images/undraw_experts3_3njd.svg" class="img-fluid pb-5">

        </div>

        <div class="col-md-4">

            <p>This was such a great experience. So many valuable advisees and I got a refund more then expected. Thank you for the hospitality and for every thing that you helped me with in my taxes. Coming back again next year for sure, would never miss out on that.</p>

        </div>

        <div class="col-md-4">

            <p>They are so friendly, helpful, honest, fast, and most importantly they were very affordable. Better than my old tax office to be honest, they consulted me, they helped advice me on how to be financially better for my next year return, and they made it an amazing experience for me.</p>

        </div>

    </div>

</section>

<section id="contact" class="jumbotron-fluid text-center py-5">

    <h1 class="pb-5">Get in Touch</h1>

    <div class="row">

        <div class="col-md-4 text-left mb-5">

            <div class="row">

                <div class="col-md-4">

                    <img src="/assets/images/undraw_mail_2_tqip.svg" class="img-fluid">

                </div>

                <div class="col-md-8">
                    
                    <a href="mailto:hello@zeetaxpros.com">Email<br>hello@zeetaxpros.com
                    </a>

                </div>

            </div>

            <div class="row py-3">

                <div class="col-md-4">

                    <img src="/assets/images/undraw_messages1_9ah2.svg" class="img-fluid">

                </div>

                <div class="col-md-8">

                    <a href="tel:7034952425">Call/Text<br>(703) 495-2425</a>
                    <br><a href="fax:7039881857">Fax: (703) 988-1857</a>


                </div>

            </div>

            <div class="row p-3">

                <p><span class="font-weight-bold">Business Hours:</span>
                    <br>Mon-Fri: 9:00 AM to 5:00 PM
                    <br>Sat: 12:00 PM to 4:00 PM
                    <br>Sun: Closed</p>

            </div>

        </div>

        <div id="quote-form" class="col-md-4 mb-5">

            <form action="https://formspree.io/{{ site.formspree }}" method="POST">

                <div class="form-group">
                    <input type="text" class="form-control rounded-pill shadow-sm" id="InputName" placeholder="Name" name="name">
                </div>

                <div class="form-group">
                    <input type="email" placeholder="Email" class="form-control rounded-pill shadow-sm" id="InputEmail" aria-describedby="emailHelp" name="_replyto">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email or phone number with anyone else.</small>
                </div>
            
                <div class="form-group">
                    <input type="tel" placeholder="Phone" class="form-control rounded-pill shadow-sm" id="InputPhone" name="phone">
                </div>

                <div class="form-group">
                    <textarea type="text" placeholder="Hi! I'd like to request my free quote..." class="form-control shadow-sm" id="InputMessage" name="message"></textarea>
                </div>
            
                <button type="submit" class="btn btn-outline-success rounded-pill btn-block shadow" value="Send">send</button>

            </form>

        </div>

        <div class="col-md-4">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193.74250750715134!2d-77.42557822054428!3d39.01804806448534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b6396db7c97fcf%3A0xb210d514b29ab121!2sZee%20Tax%20Professionals!5e0!3m2!1sen!2sus!4v1584799596350!5m2!1sen!2sus" 
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="img-fluid"></iframe>

            <p class="pt-5">21598 Atlantic Blvd. Suite 100-B (Second Floor), Sterling, VA 20166</p>

            <a href="https://www.google.com/maps/dir//Zee+Tax+Professionals,+21580+Atlantic+Blvd+suite+220-c,+Sterling,+VA+20166/@39.019284,-77.423042,19z/data=!4m9!4m8!1m0!1m5!1m1!1s0x89b6396db7c97fcf:0xb210d514b29ab121!2m2!1d-77.4230419!2d39.019284!3e0?hl=en" class="btn btn-outline-primary rounded-pill shadow mb-3" target="_blank">Start Navigation</a>

        </div>

    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="siteUnderConstructionModal" tabindex="-1" role="dialog" aria-labelledby="siteUnderConstructionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="siteUnderConstructionModalLabel">Pardon our dust!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Thanks for your interest in Zee Tax Professionals. This site is under construction. Stay tuned! For inquiries, contact <a href="mailto:hello@zeetaxpros.com">hello@zeetaxpros.com</a>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function(){
        $("#siteUnderConstructionModal").modal('show');
    });
</script>
