---
layout: default
---

<section id="home" class="jumbotron-fluid bg-primary">

    <div class="row py-4">

        <div class="text-white container py-5 col-md-7">

            <h3 style="color: #e5e5e5;" class="pb-2 pt-4">ZEE TAX PROFESSIONALS</h3>

            <h1 class="text-white pb-2 font-weight-bold">HELPING YOU COUNT WHAT TRULY COUNTS FOR YOU</h1>

            <a href="#" class="btn btn-outline-light rounded-pill shadow my-3 p-2 px-3">Let's Talk</a>
            
        </div>

        <div class="col-md-5">

            <img src="/assets/images/undraw_file_searching_duff.png" class="img-fluid pt-2 pb-5">

        </div>

    </div>

</section>

<section class="jumbotron-fluid"></section>